/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Recursive:wght@500;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@800&family=Recursive:wght@500;1000&display=swap');

:root {
    /* --content-width: 500px; */
    
}

body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font: 1em 'Recursive', 'Cormorant Garamond', serif;
}

#header{
    font: 2em 'Recursive', 'Cormorant Garamond', serif;
}

.container{
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}

#board{
    display: grid;
    width: 50vh;
    height:50vh; 
    position: relative;
    background-color: white;
    vertical-align: baseline;
    border: 1px solid gray;
}


#button-left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#button-right-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button{
    font-family: inherit;
}

}

/* #slidecontainer{
    padding-top: 10%;
    width: 30%;
    -webkit-appearance: none;
    appearance: none; 
    height: 25px;
    background: gray;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#slidecontainer::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
} */

.square {
    border: 1px solid grey;
    vertical-align: baseline;
}

#colorpicker{
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}


/* #id span{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
} */

